USE [master]
GO
/****** Object:  Database [EnrollmentDB]    Script Date: 2026/4/20 4:56:49 ******/
CREATE DATABASE [EnrollmentDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnrollmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnrollmentDB]
GO
/****** Object:  Table [dbo].[AddDropHistory]    Script Date: 2026/4/20 4:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddDropHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[CourseID] [int] NULL,
	[ActionType] [nvarchar](10) NULL,
	[LogDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdjustmentNotes]    Script Date: 2026/4/20 4:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdjustmentNotes](
	[AdjustmentID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[AdjustedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdjustmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankDetails]    Script Date: 2026/4/20 4:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankDetails](
	[BankID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[BankName] [nvarchar](100) NULL,
	[AccountNo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2026/4/20 4:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [nvarchar](10) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[Credits] [int] NOT NULL,
	[Capacity] [int] NULL,
	[Cost] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enquiries]    Script Date: 2026/4/20 4:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enquiries](
	[EnquiryID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[Subject] [nvarchar](100) NULL,
	[Message] [nvarchar](max) NULL,
	[AdminReply] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnquiryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 2026/4/20 4:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[CourseID] [int] NULL,
	[EnrollDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluations]    Script Date: 2026/4/20 4:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluations](
	[EvalID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[CourseID] [int] NULL,
	[Rating] [int] NULL,
	[Comments] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[EvalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 2026/4/20 4:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 2026/4/20 4:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NULL,
	[ReceiptNumber] [nvarchar](50) NULL,
	[AmountPaid] [decimal](18, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProfiles]    Script Date: 2026/4/20 4:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProfiles](
	[ProfileID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[DOB] [date] NULL,
	[TotalFees] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timetables]    Script Date: 2026/4/20 4:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timetables](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NULL,
	[DayOfWeek] [nvarchar](10) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[Venue] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026/4/20 4:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[CurrentSemester] [int] NOT NULL,
	[CurrentBalance] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AddDropHistory] ON 

INSERT [dbo].[AddDropHistory] ([HistoryID], [StudentID], [CourseID], [ActionType], [LogDate]) VALUES (1, 1, 1, N'Add', CAST(N'2026-04-20T02:11:07.197' AS DateTime))
INSERT [dbo].[AddDropHistory] ([HistoryID], [StudentID], [CourseID], [ActionType], [LogDate]) VALUES (2, 1, 2, N'Add', CAST(N'2026-04-20T02:11:07.273' AS DateTime))
INSERT [dbo].[AddDropHistory] ([HistoryID], [StudentID], [CourseID], [ActionType], [LogDate]) VALUES (3, 1, 5, N'Add', CAST(N'2026-04-20T02:11:07.297' AS DateTime))
SET IDENTITY_INSERT [dbo].[AddDropHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[AdjustmentNotes] ON 

INSERT [dbo].[AdjustmentNotes] ([AdjustmentID], [InvoiceID], [Amount], [Reason], [AdjustedDate]) VALUES (1, NULL, CAST(-1300.00 AS Decimal(18, 2)), N'Add Course: 1', CAST(N'2026-04-20T02:11:07.257' AS DateTime))
INSERT [dbo].[AdjustmentNotes] ([AdjustmentID], [InvoiceID], [Amount], [Reason], [AdjustedDate]) VALUES (2, 1, CAST(-1300.00 AS Decimal(18, 2)), N'Add Course: 2', CAST(N'2026-04-20T02:11:07.293' AS DateTime))
INSERT [dbo].[AdjustmentNotes] ([AdjustmentID], [InvoiceID], [Amount], [Reason], [AdjustedDate]) VALUES (3, 2, CAST(-1300.00 AS Decimal(18, 2)), N'Add Course: 5', CAST(N'2026-04-20T02:11:07.300' AS DateTime))
SET IDENTITY_INSERT [dbo].[AdjustmentNotes] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseCode], [CourseName], [Credits], [Capacity], [Cost]) VALUES (1, N'PRG3101', N'Object Oriented Programming', 4, 30, CAST(1300.00 AS Decimal(18, 2)))
INSERT [dbo].[Courses] ([CourseID], [CourseCode], [CourseName], [Credits], [Capacity], [Cost]) VALUES (2, N'PRG3204', N'Database Systems', 4, 30, CAST(1300.00 AS Decimal(18, 2)))
INSERT [dbo].[Courses] ([CourseID], [CourseCode], [CourseName], [Credits], [Capacity], [Cost]) VALUES (3, N'PRG3301', N'Web Development', 4, 30, CAST(1300.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enquiries] ON 

INSERT [dbo].[Enquiries] ([EnquiryID], [StudentID], [Subject], [Message], [AdminReply], [Status]) VALUES (3, 1, N'Timetable Enquiry', N'I would like to confirm my class schedule and venue for this semester. Please assist me.', NULL, N'Pending')
SET IDENTITY_INSERT [dbo].[Enquiries] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollID], [StudentID], [CourseID], [EnrollDate], [Status]) VALUES (3, 1, 5, CAST(N'2026-04-20T02:11:07.297' AS DateTime), N'Active')
INSERT [dbo].[Enrollments] ([EnrollID], [StudentID], [CourseID], [EnrollDate], [Status]) VALUES (4, 1, 6, CAST(N'2026-04-20T02:11:07.300' AS DateTime), N'Active')
INSERT [dbo].[Enrollments] ([EnrollID], [StudentID], [CourseID], [EnrollDate], [Status]) VALUES (5, 1, 7, CAST(N'2026-04-20T02:11:07.303' AS DateTime), N'Active')
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Evaluations] ON 

INSERT [dbo].[Evaluations] ([EvalID], [StudentID], [CourseID], [Rating], [Comments]) VALUES (2, 1, 5, 4, N'The lecturer explained the topics clearly, and the class activities were helpful for understanding the subject.')
SET IDENTITY_INSERT [dbo].[Evaluations] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceID], [StudentID], [TotalAmount], [Status], [CreatedAt]) VALUES (1, 1, CAST(1300.00 AS Decimal(18, 2)), N'Unpaid', CAST(N'2026-04-20T02:11:07.263' AS DateTime))
INSERT [dbo].[Invoices] ([InvoiceID], [StudentID], [TotalAmount], [Status], [CreatedAt]) VALUES (2, 1, CAST(1300.00 AS Decimal(18, 2)), N'Unpaid', CAST(N'2026-04-20T02:11:07.293' AS DateTime))
INSERT [dbo].[Invoices] ([InvoiceID], [StudentID], [TotalAmount], [Status], [CreatedAt]) VALUES (3, 1, CAST(1300.00 AS Decimal(18, 2)), N'Unpaid', CAST(N'2026-04-20T02:11:07.300' AS DateTime))
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Timetables] ON 

INSERT [dbo].[Timetables] ([ScheduleID], [CourseID], [DayOfWeek], [StartTime], [EndTime], [Venue]) VALUES (3, 1, N'Monday', CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time), N'Lab 1')
INSERT [dbo].[Timetables] ([ScheduleID], [CourseID], [DayOfWeek], [StartTime], [EndTime], [Venue]) VALUES (4, 2, N'Tuesday', CAST(N'14:00:00' AS Time), CAST(N'16:00:00' AS Time), N'Room A')
INSERT [dbo].[Timetables] ([ScheduleID], [CourseID], [DayOfWeek], [StartTime], [EndTime], [Venue]) VALUES (5, 3, N'Wednesday', CAST(N'10:00:00' AS Time), CAST(N'12:00:00' AS Time), N'Room B')
SET IDENTITY_INSERT [dbo].[Timetables] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [Role], [CreatedAt], [CurrentSemester], [CurrentBalance]) VALUES (1, N'DEMO001', N'Demo@123', N'Demo Student', N'demo@example.com', N'Student', CAST(N'2026-04-13T02:31:03.700' AS DateTime), 1, CAST(1300.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__BankDeta__1788CCAD41E76BD1]    Script Date: 2026/4/20 4:56:50 ******/
ALTER TABLE [dbo].[BankDetails] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Courses__FC00E00011D56BF8]    Script Date: 2026/4/20 4:56:50 ******/
ALTER TABLE [dbo].[Courses] ADD UNIQUE NONCLUSTERED 
(
	[CourseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Payments__C08AFDAB6AEC09DF]    Script Date: 2026/4/20 4:56:50 ******/
ALTER TABLE [dbo].[Payments] ADD UNIQUE NONCLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__StudentP__1788CCAD15BE510A]    Script Date: 2026/4/20 4:56:50 ******/
ALTER TABLE [dbo].[StudentProfiles] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E44F49A575]    Script Date: 2026/4/20 4:56:50 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_StudentID]    Script Date: 2026/4/20 4:56:50 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_StudentID] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AddDropHistory] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[AdjustmentNotes] ADD  DEFAULT (getdate()) FOR [AdjustedDate]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((30)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0.00)) FOR [Cost]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrollDate]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[StudentProfiles] ADD  DEFAULT ((0.00)) FOR [TotalFees]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Student') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [CurrentSemester]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0.00)) FOR [CurrentBalance]
GO
ALTER TABLE [dbo].[AddDropHistory]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[AddDropHistory]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[AddDropHistory]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[AddDropHistory]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AddDropHistory]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AddDropHistory]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AdjustmentNotes]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[AdjustmentNotes]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[AdjustmentNotes]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[BankDetails]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[BankDetails]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[BankDetails]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Enquiries]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Enquiries]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Enquiries]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[StudentProfiles]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[StudentProfiles]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[StudentProfiles]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Timetables]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Timetables]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Timetables]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Admin' OR [Role]='Student'))
GO
USE [master]
GO
